{% extends "layout.html" %} {% block title %}Heats{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">

	//CAAR Ini
	var Gmsg;   // Global structure for heats data.
	
	function setCookie(cname, cvalue, exdays) {
	  var d = new Date();
	  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
	  var expires = "expires="+d.toUTCString();
	  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}

	function getCookie(cname) {
	  var name = cname + "=";
	  var ca = document.cookie.split(';');
	  for(var i = 0; i < ca.length; i++) {
		var c = ca[i];
		while (c.charAt(0) == ' ') {
		  c = c.substring(1);
		}
		if (c.indexOf(name) == 0) {
		  return c.substring(name.length, c.length);
		}
	  }
	  return "";
	}

	function checkCookie() {
	  var user = getCookie("username");
	  if (user != "") {
		alert("Welcome again " + user);
	  } else {
		user = prompt("Please enter your name:", "");
		if (user != "" && user != null) {
		  setCookie("username", user, 365);
		}
	  }
	}

	////////////////////////
	
	function exec_checkbox( cid ) {
		//save value
		var cvalue = ( $("#"+cid).prop('checked')?"checked":"unchecked");
		console.log(cid + "  " + cvalue);
		setCookie(cid, cvalue, 1 ) 
		
		if( cid == "checkbox_show_locked" )
			refresh_heat_blocks_style();

		if( cid == checkbox_heat_groups ) 
			rebuild_heats_block();	
		return 0;
	}
	
	function refresh_heat_blocks_style(){
	  if( Gmsg ) {
		$('.heat_block').each(function(){
				var heat_ipos = $(this).attr('heat_ipos');
				var heats = Gmsg.heats[heat_ipos];
				
				if(heats.locked && ($("#checkbox_show_locked").prop('checked'))) 
					$(this).prop("style")["background"] = 'lightblue';
				else 
					$(this).prop("style")["background"] = null;
			}
		)
		};
	}
	
	
    //CAAR end


	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'frequency_data',
			'class_data',
			'heat_data',
			'pilot_data'
		]});




		//CAAR pull saved values from cookies
		var lst_checkboxes = ["checkbox_heat_groups","checkbox_show_locked"];
		for(i in lst_checkboxes){
			var strid = getCookie(lst_checkboxes[i] );
			if(strid) {
				switch (strid) {
					case 'checked':
						$("#"+lst_checkboxes[i]).prop("checked", true);
						break;
					case 'unchecked':
						$("#"+lst_checkboxes[i]).prop("checked", false);
						break;
					default:
						console.log('Sorry, we are out of ' + strid + '.');
				}
			}
		}//for



		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('frequency_data', function (msg) {
			for (var i in msg.frequency) {
				if (typeof(rotorhazard.nodes[i]) === 'undefined') {
					rotorhazard.nodes[i] = new nodeModel();
				}
				rotorhazard.nodes[i].frequency = msg.frequency[i];
				freq.updateBlocks();
			}
		});

		socket.on('pilot_data', function (msg) {
			msg.pilots.sort(function(a, b){
				if (a.name < b.name)
					return -1;
				if (a.name > b.name)
					return 1;
				return 0;
			});

			$(".pilots").empty();
			for (var i in msg.pilots) {
				if (msg.pilots[i]) {
					var el = $('<li data-id="' + msg.pilots[i].pilot_id + '">');
					el.append('<div class="name">'+ msg.pilots[i].name + '</div>');
					el.append('<div class="callsign">' + msg.pilots[i].callsign + '</div>');
					el.appendTo($('.pilots'));
				}
			}
		});


// CAAR  ini

		function rebuild_heats_block () {
			var group_heats = $("#checkbox_heat_groups").prop('checked');
			if(group_heats)
			     build_group_heats_block();
			else
			     build_old_heats_block(); 
		
			// Refresh heat blocks style
			refresh_heat_blocks_style();
		}

		function build_old_heats_block () {
			if(!Gmsg) return 0;
			var msg = Gmsg;
		 //socket.on('heat_data', function (msg) {
			$(".heats").empty();
			for (var i in msg.heats) {
				var heats = msg.heats[i];
				var el = $('<li class="heat_block" heat_ipos="' + i + '">');

			//	if(heats.locked) {
			//		el = $('<li style="background-color:lightblue">');
			//		}

				if (heats.note) {
					el.append('<h3>' + heats.note + '</h3>');
				} else {
					el.append('<h3>'+ __('Heat') + ' ' + heats.heat_id + '</h3>');
				}

				var nodelist = $('<ol>');
				var callsign;
				for (j in heats.pilots) {
					var heatpilot = heats.pilots[j];
					var slot = $('<li>');
					slot.append('<div class="channel-block" data-node="' + j + '"><span class="ch"></span> <span class="fr"></span></div>');

					callsign = __('-None-');
					for (var k in msg.pilot_data) {
						if (msg.pilot_data[k].pilot_id == heatpilot) {
							callsign = msg.pilot_data[k].callsign;
							break;
						}
					}

					slot.append('<div class="pilot-name">' + callsign + '</div');
					nodelist.append(slot);
				}
				el.append(nodelist);

				// class indicator
				if (msg.classes.length) {
					if (heats.class_id) {
						for (var i in msg.classes) {
							if (msg.classes[i].id == heats.class_id) {
								el.append('<div class="race_class">' + msg.classes[i].name + '</div>')
								break;
							}
						}
					} else {
						el.append('<div class="race_class">Unclassified</div>');
					}
				}

				el.appendTo($('.heats'));
			}
			freq.updateBlocks();
		};

		socket.on('heat_data', function (msg) {
			Gmsg = msg; //fail to add info to Browser
			rebuild_heats_block ();
			});


		function build_group_heats_block() {
			if(!Gmsg) return 0;
			var msg = Gmsg;
	//	socket.on('heat_data', function (msg) {
	//		Gmsg = msg;
		
			//CAAR
			function add_class( c ) { 
				if (c.name) {
					var groupName = 'caarclassheats_' + c.id;
					var idpanel = 'caar-heats_' + groupName;
					
					$(bc).append ( $('<div class="panel collapsing open" id="caar-heats_caarclassheats_'+ c.id +'">  ' + 
								  '	<div class="panel-header">				                        ' +
								  '			<h2>'+c.name+'</h2>                             ' +
								  '  </div>                                                         ' +
								  '  	<div class="panel-content" id="caarclassheats_'+ c.id+'">   ' +
								  '  		<ol class="heats"> </ol>                                ' +
								  '  	</div>														' +
								  '  </div>' 
								  )
								);		
					}
				}
				
			//Add classes
			$("#caarheats").empty();
			var bc = $('<div>');
			for (var i in msg.classes ){
				var c = msg.classes[i];
				if (c.name) add_class( c )
			}
			//add to DOM	
			bc.appendTo($("#caarheats"));

			//add content
			for (var i in msg.heats) {
				var heats = msg.heats[i];
				var el = $('<li class="heat_block" heat_ipos="' + i + '">');
				
				if (heats.note) {
					el.append('<h3>' + heats.note + '</h3>');
				} else {
					el.append('<h3>'+ __('Heat') + ' ' + heats.heat_id + '</h3>');
				}

				var nodelist = $('<ol>');
				var callsign;
				for (j in heats.pilots) {
					var heatpilot = heats.pilots[j];
					var slot = $('<li>');
					slot.append('<div class="channel-block" data-node="' + j + '"><span class="ch"></span> <span class="fr"></span></div>');

					callsign = __('-None-');
					for (var k in msg.pilot_data) {
						if (msg.pilot_data[k].pilot_id == heatpilot) {
							callsign = msg.pilot_data[k].callsign;
							break;
						}
					}

					slot.append('<div class="pilot-name">' + callsign + '</div');
					nodelist.append(slot);
				}
				el.append(nodelist);

				// class indicator
				if (msg.classes.length) {
					if (heats.class_id) {
						for (var i in msg.classes) {
							if (msg.classes[i].id == heats.class_id) {
								el.append('<div class="race_class">' + msg.classes[i].name + '</div>')
								break;
							}
						}
					} else {
						el.append('<div class="race_class">Unclassified</div>');
					}
				}
				
				if (heats.locked) {
					//console.log( "locked ; heat_id "+ heats.heat_id +", heat_note " + heats.note + ", class_id " + heats.class_id );  // nodeName
				    //el.firstElementChild.style.backgroundColor = "Red";
				}
				el.appendTo($( '#' + ('caarclassheats_' + heats.class_id) + ' ' + String.fromCharCode(46) + 'heats' ));
			}
			freq.updateBlocks();
			
			//CAAR
			if ($('.collapsing').length) {
					$('.collapsing').each(function(){
						var el = $(this)
						
						var v_id = el.attr('id');
						
						if (rotorhazard.panelstates[v_id] == null || rotorhazard.panelstates[v_id] )
							el.find('.panel-content').show();
						else
						   el.find('.panel-content').hide();
					});
			}
			// Refresh blocks atributes
			refresh_heat_blocks_style();
		};

		socket.on('class_data', function (msg) {
			$(".race_classes").empty();

			if (msg.classes.length) {

				var classlist = $('<ol>');
				for (var i in msg.classes) {
					var race_class = msg.classes[i];
					var el = $('<li>');

					if (race_class.name) {
						el.append('<h3>' + race_class.name + '</h3>');
					} else {
						el.append('<h3>' + __('Class') + ' ' + race_class.id + '</h3>');
					}

					var class_info = $('<div class="class-info">');

					if (race_class.description) {
						class_info.append('<p>' + race_class.description + '</p>');
					}

					if (race_class.format) {
						for (var i in msg.formats) {
							if (msg.formats[i].id == race_class.format) {
								class_info.append('<p><strong>Format:</strong> ' + msg.formats[i].name + '</p>');
								break;
							}
						}
					} else {
						class_info.append('<p>No format restriction</p>');
					}

					class_info.appendTo(el);

					el.appendTo(classlist);
				}
				classlist.appendTo($('.race_classes'));
			} else {
				$('.race_classes').append('<p class="form-note">' + __('This is a single-class event.') + '</p>');
			}
		});

	});
</script>

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 47px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<main class="page-heats">

<!--Display the classes-->
<h2>{{ __('Classes') }}</h2>
<div id="race_classes" class="race_classes">
	<p class="form-note">{{ __('Loading...') }}</p>
</div>


<!--Display the heats-->
<h2>{{ __('CAAR Heats') }}</h2>
<ol id="caarheats">
	<li class="heats">{{ __('Loading...') }}</li>
</ol>


<!--Display the pilots-->
<h2>{{ __('Pilots') }}</h2>
<ul class="pilots">
	<li>{{ __('Loading...') }}</li>
</ul>


<!--Page Control-->
<div class="row">
   </br>
   </br>
</div>

<hr width="100%">


<ol class="form">
			<li>
				<div class="label-block">
					{{ __('Configurations') }}
				</div>
				<ul>
					<li><label><input type="checkbox" id="checkbox_heat_groups" onclick='exec_checkbox("checkbox_heat_groups");'> {{ __('Group heats') }}</label></li>
					<li><label><input type="checkbox" id="checkbox_show_locked" onclick='exec_checkbox("checkbox_show_locked");'> {{ __('Show Locked') }}</label></li>
				</ul>
			</li>
		</ol>


</main>
{% endblock %}
