{% extends "layout.html" %} {% block title %}Leaderboard{% endblock %}{% block head %}
<script type="text/javascript" charset="utf-8">
	

	$(document).ready(function () {
		

	});

</script>
{% endblock %}

{% block content %}

<main class="page-leaderboards">


	
	<h2>5-to-8</h2>
	<table>
		<thead>
			<th>Rank</th>
			<th>Callsign</th>
			<th>Name</th>
			<th>Team</th>
		</thead>
		<tbody>

			{% for pilot in top5_8_data %}
			<tr>
				<td>{{ pilot.rank }}</td><td>{{ pilot.callsign }}</td><td>{{ pilot.name }}</td><td>{{ pilot.team }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<br>

	<h2>Top8</h2>
	<table>
		<thead>
			<th>Rank</th>
			<th>Pilot</th>
			<th>Points</th>
		</thead>
		<tbody>

			{% for pilot in top8_data %}
			<tr>
				<td>{{ pilot.rank }}</td><td>{{ pilot.name }}</td><td>{{ pilot.points }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


</main>
{% endblock %}
